<a href="https://colab.research.google.com/github/samuelnf999/Anota-es-slots/blob/main/Caderno_Python_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Operadores Aritméticos

##Números

In [ ]:
#Operadores Aritméticos
print(7+2)
print(7-2)
print(7*2)
print(7/2)
print(7**2)
print(7//2)#Divisão inteira;Ex:Resultado=3.5(Então a divisão inteira é 3)
print(7%2)#Resto da divisão;Ex:Resultado=3.5(Então o resto da divisão é 1)

9
5
14
3.5
49
3
1

##Strings

In [ ]:
#Operadores Aritméticos com str
print('ola ' + 'mundo')
print('ola '*5)
#Aplicação
print(' - '*21)
print('  '*10 +  'Bem Vindo'  + '  '*4)
print(' - '*21)

ola mundo
ola ola ola ola ola
 -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
                    Bem Vindo
 -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -

#Verificar variáveis

In [ ]:
entrada = input('Digite um número: ')
num = entrada.isnumeric()
text = entrada.isalpha()
numText = entrada.isalnum()
print(num)
print(type(entrada))

Digite um número: 98,9
False
<class 'str'>

# Converter variáveis

In [ ]:
#Converte variável para inteiro
int(1.856) == 1
int('4') == 4
int(True) == 1
int(False) == 0

#Converte variável para reais
float(1) == 1.0
float('4') == 4.0
float(True) == 1.0
float(False) == 0.0

#Converte variável para string
str(1) == '1'
str(1.809) == '1.809'
str(True) == 'True'
str(False) == 'False'

True

# Print() com .format() e f.''

In [ ]:
lanche = 12.90
batata = 5.90
refri = 3
pgto = 'cartão'
conta = lanche+batata+refri

#Imprimindo de forma tradicional
print('A sua compra foi efetuada no',pgto,'no valor de',conta,'R$')

#Imprimindo com .format
print('A sua compra foi efetuada no {}, com o valor de {}R$'.format(pgto,conta))

#Imprimindo com f.''
print(f'A sua compra foi efetuada no{pgto}, com o valor de {conta}R$')

A sua compra foi efetuada no cartão no valor de 21.8 R$
A sua compra foi efetuada no cartão, com o valor de 21.8R$
A sua compra foi efetuada nocartão, com o valor de 21.8R$

#Formatando números

In [ ]:
a = 1
b = 7
print('a dividido por b é: {}' .format(a/b))
print('a dividido por b é: {:.5f}' .format(a/b))

a dividido por b é: 0.14285714285714285
a dividido por b é: 0.14286

In [ ]:
a = 245
b = 2.835895
print('| {0:10d} | e | {1:10.4f} |'.format(a,b))

|        245 | e |     2.8359 |

#Condicionais

In [ ]:
vontade = input('Vontade: ')
if vontade == 'lanche':
  print('Ir a mec')
  print('Comer lanche')
else:
  if vontade == 'pizza':
    print('Ir ao Hut')
    print('Comer uma pizza')
  else:
    print('Ir ao bell')
    print('Comer tacos')
print("Fome Satisfeita")

Vontade: pai
Ir ao bell
Comer tacos
Fome Satisfeita

In [ ]:
vontade = input('Vontade: ')
if vontade == 'lanche':
  print('Coma um lanche no mec')
elif vontade == 'pizza':
  print('Coma uma pizza no hut')
elif vontade == 'pao':
  print('Comer um pao na panificadora')
else:
  print('Não sabemos o que você quer')

Vontade: batat
Não sabemos o que você quer

# Repetições

##For

###Números pares e impares

Podemos ultilizar o passo com número 2 para identificar números impares e pares.

In [ ]:
passo = range(1,10+1,2)
soma= 0

for i in passo:
  soma = soma + i
  print(f'i = {i}, soma = {soma}')
print('Fim')

i = 1, soma = 1
i = 3, soma = 4
i = 5, soma = 9
i = 7, soma = 16
i = 9, soma = 25
Fim

###Média de x números

Tirar a média de uma determinada quantidade de números.

In [ ]:
passo = range(1,3+1)
soma = 0

for i in passo:
  n = (float(input(f'Digite o {i} número:')))
  soma += n
  print('i = {}, soma = {}'.format(i,soma))
media = soma / i
print('A média é de: {:.2f}'.format(media))

Digite o 1 número:5
i = 1, soma = 5.0
Digite o 2 número:2
i = 2, soma = 7.0
Digite o 3 número:6
i = 3, soma = 13.0
A média é de: 4.33

## Quando utilizar for ou while ?

O for é utilizado quando o looping tem um número determidado de vezes para ser execultado. Ex: Conte de 1 até 10; Você tem uma tupla com um número determidado de itens.

O while é o contrario, é utilizado quando não sabemos a quantidade exata de vezes que será execultado. Ex: Digite x números até passar do valor x.

##While

###Looping infinito

In [ ]:
while True:#No while deve ser colocado a condição pedida. Ex: Quero que some até passar do número vinte.(while soma <= 20:)
    print('Execute a ação')

###Looping infinito com delimitador

In [ ]:
fim = False
while fim == False:
  print('Execute a ação')
  fim = bool(input('Terminou ?'))
print('Fim')

Execute a ação
Terminou ?sim
Fim

In [ ]:
soma = 0 

while True: 
  n = int(input('Digite um valor: '))
  soma += n
  continua = input('Você quer continar ? (s/n)')
  if continua == 'n':
    break
print(soma)

###Variável de contador

No while é sempre preciso usar um variável como contador, se não o looping ficará infinito, ou deve ser colocado uma pergunta se o usuário quer continuar.(Está no exemplo acima)

In [ ]:
soma = 1
i = 1#i: Variável de controle

while i < 10:
  i += 1
  soma += 1
  print(soma)

#Tuplas

Você pode pegar valores específicos da tupla, ou trechos com mais de um valor.

In [ ]:
t2 = (1,3,5,7)
print(t2[0])
print(t2[1:4])

1
(3, 5, 7)

 Funções com tuplas:

In [ ]:
#len(t1) : qtd de termos
#sorted(t1) : ordenar , sorted(set(t1)) : excluir os repetidos e ordenar
#t1.count(valor) : contar a qtd de “valor”
#t1.index(valor) : achar a 1ª posição de “valor”
#t1.index(valor,pos) : achar “valor” a partir da “pos”
#t1 + t2 : concatenar tuplas

# Listas

##listas Simples

###Funções

Funções que servem para listas e tuplas.

In [ ]:
#Fatiamento: [0] [0:2] [:3] [3:] [-1]
#Métodos: .index() .count()
#Funções: len() e sorted()
#Concatenar: lista3 = lista1 + lista2
#Lista dentro de for: for i in lista 
#for i, v in enumerate(lista):

### Troca de valores

É possível trocar valores de forma individual ou de forma múltipla, basta ter um espaço de tamanho de igual do valores que serão alterados.

In [ ]:
l1 = [2, 6, 4, 5, 7]
print(l1)

# Trocando um valor
l1[2] = 3
print(l1)

# Trocando vários valores(Desde que os novos valores tenham o mesmo número de indices dos valores antigos.)
l1[:2] = [0,1]
print(l1)

###Adicionar valores

Adicionar um valor no fim da lista, ou adicionar um valor em uma posição especifica.

In [ ]:
l1 = [0, 1, 3, 5, 7]
print(l1)

# Adicionar por completo no fim
l1.append(7)
print(l1)

#adiciona os itens separados(Ex: Se adicionar uma lista, irá adicionar cada item separado.)
l1.extend([9])
print(l1)

#Adicionar na posição x. Ex(.insert(posição,valorAdicionado))
l1.insert(4,4)
print(l1)

[0, 1, 3, 5, 7]
[0, 1, 3, 5, 7, 7]
[0, 1, 3, 5, 7, 7, 9]
[0, 1, 3, 5, 4, 7, 7, 9]

###Deletar valores

Formas de deletar valores da lista.

In [ ]:
l1 = [0, 1, 3, 4, 5, 7, 7]
print(l1)

# Delete da lista l1 o item na posição 3
del l1[3]
print(l1)

#Delete da lista l1 o item na posição 2, e salve o item deletado na variável que foi criada.
deletado = l1.pop(2)
print(l1, ' - ', deletado)

#Delete da lista l1 o valor 7. Obs: Se tiver mais de um valor igual a 7, somente o primeiro valor encontrado será deletado.
l1.remove(7)
print(l1)

Verificar se existe o valor na lista antes de remove-lo. Obs: Para evitar erros com o usuário final.

In [ ]:
#if valor in lista:
#  t1.remove(valor)

l1 = [0, 1, 3, 4, 5, 7, 7]
print(l1)

#Remove somente o primeiro 7 que for achado na lista.
if 7 in l1:
  l1.remove(7)

print(l1)

#Remove todos os valores de 7 que estiverem na lista.
for i in l1:
  if 7 in l1:
    l1.remove(7)
print(l1)

[0, 1, 3, 4, 5, 7, 7]
[0, 1, 3, 4, 5, 7]
[0, 1, 3, 4, 5]

###Ordenar as listas

Formas de ordenar as listas.

In [ ]:
#Lista pai
l1Pai = [0, 3, 1, 7, 5, 7, 4]
print('Está é a lista orginal: {}'.format(l1Pai))
print()

#A função sorted ordenada a lista em uma nova variável, ou seja, ela cria uma nova varíaval (sort1) com a lista ordenada. Porém a lista pai continua a igual.
sort1 = sorted(l1Pai)
print('Esta é lista ordenada com sorted, que foi criada uma nova variável (sort1): {}'.format(sort1))
print()

#O método .sort() não cria um nova varíavel com valores ordenados, ele somente modifica a lista pai 
sort2 = l1Pai.sort()
print('O método .sort não cria uma nova variável, se ele for chamado esse será o resultado: {}'.format(sort2))
print()

# Ordenação inversa
l1Pai.sort(reverse = True)
print('Esta é lista ordenada ao reverso: {}'.format(l1Pai))

Está é a lista orginal: [0, 3, 1, 7, 5, 7, 4]

Esta é lista ordenada com sorted, que foi criada uma nova variável (sort1): [0, 1, 3, 4, 5, 7, 7]

O método .sort não cria uma nova variável, se ele for chamado esse será o resultado: None

Esta é lista ordenada ao reverso: [7, 7, 5, 4, 3, 1, 0]

###Listas Vazías

In [ ]:
lista1 = []

#Adicionar itens na lista vazia.
for i in range(1,6):
  lista1.append(float(input('Digite o {} número: '.format(i))))
print(lista1)

###Listas com range

In [ ]:
# Criando lista
eixoX = list(range(0,100+1,1))
print(eixoX)

for i in eixoX:
  eixoX[i] /= 10
print(eixoX)

###Copiar e clonar listas

Aqui você está clonando as listas, ou seja, se você tentar fazer qualquer modificação em uma das duas os resultados serão aplicados nas duas listas. Isso acontece porque quando as listas são clonadas, elas ocupam o mesmo espaço de memória.

In [ ]:
# Declarando lista:
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = l1

# Deletando último valor e plotando resultados
l2.pop()

print('l1 = {} '.format(l1))
print('l2 = {} '.format(l2))

Aqui você está copiando as listas, agora sim pode fazer alterações separadas em cada uma.

In [ ]:
# Declarando lista:
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = l1[:]

# Deletando último valor e plotando resultados
l2.pop()

print('l1 = {} '.format(l1))
print('l2 = {} '.format(l2))

###Listas no For

Se as listas forem do mesmo tamanho elas podem ser somadas, forem sem uma das listas for menor o código dará erro.

In [ ]:
# Declarando as listas:
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = [3, 2, 1, 7, 8, 2, 5]
l3 = []

for i, val in enumerate(l1):
  print('l1[{}] = {} e l2[{}] = {}'.format(i,l1[i],i,l2[i]))
  l3.append(l1[i] + l2[i])
print(l3)

l1[0] = 0 e l2[0] = 3
l1[1] = 2 e l2[1] = 2
l1[2] = 6 e l2[2] = 1
l1[3] = 4 e l2[3] = 7
l1[4] = 8 e l2[4] = 8
l1[5] = 1 e l2[5] = 2
l1[6] = 3 e l2[6] = 5
[3, 4, 7, 11, 16, 3, 8]

In [ ]:
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = [3, 2, 1, 7, 8]
l3 = []

for i, val in enumerate(l1):
  print('l1[{}] = {} e l2[{}] = {}'.format(i,l1[i],i,l2[i]))
  l3.append(l1[i] + l2[i])
print(l3)

l1[0] = 0 e l2[0] = 3
l1[1] = 2 e l2[1] = 2
l1[2] = 6 e l2[2] = 1
l1[3] = 4 e l2[3] = 7
l1[4] = 8 e l2[4] = 8

IndexError: ignored

Para resolver esse problema é usado o For com zip, porém os números da lista menor serão ignorados.

In [ ]:
# Declarando as listas:
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = [3, 2, 1, 7, 8]
l3 = list()

for v1, v2 in zip(l1,l2):
  print('v1 = {} e v2 = {}'.format(v1,v2))
  l3.append(v1+v2)
print(l3)

##Listas Compostas

###Declarando valores

In [ ]:
#Declaração direta
cardapio = [['Lanche', 10.9], ['Batata',  5.5], ['Refri' ,  3.9]]

#Declaração por partes
anche = ['Lanche', 10.9] 
batata = ['Batata',  5.5]
refri  = ['Refri' ,  3.9]
cardapio = [lanche, batata, refri]

#Declaração com .append()
cardapio = []
comida = []
comida.append('Lanche')
comida.append(10.9)
cardapio.append(comida[:])

#Declaração com .append() para o usúario adicionar
  comida.append(str(input('Fala o nome da comida: ')))
  comida.append(float(input('Fale o valor da comida: ')))
  cardapio.append(comida[:])
  print(f'No passo {c} comida = {comida} e cardapio = {cardapio}')
  comida.clear()

###Acessando valores

In [ ]:
# Declarando a lista de listas:
cardapio = [['Lanche', 10.9], ['Batata',  5.5], ['Refri' ,  3.9]]
print(cardapio)
print()

# Imprimindo os valores:
print(f'cardapio[0] = {cardapio[0]}')
print(f'cardapio[1] = {cardapio[1]}')
print(f'cardapio[2] = {cardapio[2]}')

print()

print(f'cardapio[0][0] = {cardapio[0][0]}')
print(f'cardapio[0][1] = {cardapio[0][1]}')
print(f'cardapio[1][0] = {cardapio[1][0]}')
print(f'cardapio[1][1] = {cardapio[1][1]}')

Dentro do for

In [ ]:
cardapio = [['Lanche', 10.9], ['Batata',  5.5], ['Refri' ,  3.9]]
for c in cardapio:
  print(f'c = {c}')

for c in cardapio:
  print(f'c[0] = {c[0]}')

soma = 0
for c in cardapio:
  print(f'c[1] = {c[1]}')
  soma += c[1]
print(soma)

c = ['Lanche', 10.9]
c = ['Batata', 5.5]
c = ['Refri', 3.9]
c[0] = Lanche
c[0] = Batata
c[0] = Refri
c[1] = 10.9
c[1] = 5.5
c[1] = 3.9
20.299999999999997

#Dicionário

##Partes do dicionário

Os dicionários são separados em três partes, são as keys, values e items.

In [ ]:
#keys: nome,idade,cidade
#values: Everton, 29, São José
#items: [nome : Everton], [idade : 29], [cidade : São José]

dic1 = {}
dict2 = dict()
dicio = {
    'nome' : 'Everton',
    'idade' : 29,
    'cidade' : 'São José'
}

##Acessando valores

In [ ]:
pessoa = {
    'nome' : 'Everton',
    'idade' : 29,
    'cidade' : 'São José'
}

# Acessando os valores:
print(pessoa['nome'])
print(pessoa['idade'])
print(pessoa['cidade'])

#dicio  = dicionário completo
#dicio.values() = somente os valores do dicionário
#dicio.keys()  = somente as chaves do dicionário
#dicio.items() = chaves + valores do dicionário (usado em loopings)

#k = key, por causa do .keys()
for k in dicio.keys():
  print('A chave é: {}'.format(k))

#v = value, por causa do .values()
for v in dicio.values():
  print('Os valores são: {}'.format(v))

#k = key; v = value
for k, v in dicio.items():
  print('O (a) {} é: {}'.format(k,v))

##Modificando valores

In [ ]:
# Modificando o valor:
pessoa = {
    'nome' : 'Everton',
    'idade' : 29,
    'cidade' : 'São José'
}

pessoa['cidade'] = 'São Paulo'

# Imprimindo valores:
print(pessoa['cidade'])
print(pessoa)

##Criando e deletando uma chave

In [ ]:
pessoa = {
    'nome' : 'Everton',
    'idade' : 29,
    'cidade' : 'São José'
}

pessoa['peso'] = 50
pessoa['Cidade'] = 'Rio de janeiro'

print(pessoa)

del pessoa['Cidade']
print(pessoa)

{'nome': 'Everton', 'idade': 29, 'cidade': 'São José', 'peso': 50, 'Cidade': 'Rio de janeiro'}
{'nome': 'Everton', 'idade': 29, 'cidade': 'São José', 'peso': 50}

##Dicionário dentro de lista

In [ ]:
pessoas = [
          {'nome':'Everton' , 'idade':29 , 'cidade':'São José'},
          {'nome':'Thiago' , 'idade':34 , 'cidade':'São Paulo'},
          {'nome':'André' , 'idade':22 , 'cidade':'Lorena'}
]
# Imprimindo cada lista:
print(pessoas[0])

# Imprimindo o nome da pessoa 1:
print(pessoas[0]['nome'])

# Imprimindo o idade da pessoa 2:
print(pessoas[1]['idade'])

# Imprimindo o cidade da pessoa 3:
print(pessoas[2]['cidade'])

##For dentro de For

O primeiro for retorna os dicionários completos um de cada vez, já o segundo for retorna os valores que estão dentro do dicionário (keys e values).

In [ ]:
pessoas = [
          {'nome':'Everton' , 'idade':29 , 'cidade':'São José'},
          {'nome':'Thiago' , 'idade':34 , 'cidade':'São Paulo'},
          {'nome':'André' , 'idade':22 , 'cidade':'Lorena'}
]

#Preste atenção nos valores que são retornados para não se confundir.
for p in pessoas:
  print('Dados da pessoa: {}'.format(p))
  for k, v in p.items():
    print(f'O {k} é {v}')
  print('-'*30)


# Imprimir os dados de pessoas com menos de 30 anos:
for i, p in enumerate(pessoas):
  for k, v in p.items():
    if k == 'idade' and v < 30:
      print(f"A pessoa {i+1} tem {p['idade']} anos e o nome dela é{p['nome']} e mora em {p['cidade']}")

##Copiando dicionários para listas

In [ ]:
temp = {}
pessoas = []

while True:
  temp['nome'] = str(input('Fale um nome: '))
  temp['idade'] = int(input('Fale uma idade: '))
  continua = str(input('Você quer continuar ? '))
  pessoas.append(temp.copy())
  if continua == 'n':
    break
print(pessoas)

#Funções

##Criando funções

In [ ]:
# Função
def funcao(parametro):     -> declaração da funcao
  print('Função')          -> inicio da função

                           -> fim da função
# Programa Principal
...
funcao(parametro)                   -> chamada da função

##Parâmetros de entrada

In [ ]:
#Função que funciona sem parâmetros(entrada/saída)
def funcao():
  print('Ola, seja muito bem vidndo ao curso de python DNC')
  print('-'*10)
funcao()

#função que precisa de parâmetros(entrada/saída)
def txt(frase):
  tamanho = len(frase)
  print('-'*40)
  print('-'*int((39 - tamanho)*0.5),frase,'-'*int((38 - tamanho)/2))
  print('-'*40)

# Principal
frase = str(input('Digite um frase: '))
txt(frase)